---
---
$header-heading-color: #fad200 !default;
$header-bg-color: #4b4b46 !default;
$header-bg-color-secondary: #4b4b46 !default;

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: url("../images/fb-banner.jpg");
}
// changes to existing css must stay above this
@import "{{ site.theme }}";
